.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em; 
}
.App-intro {
  font-size: large; 
}
.App-container {
  background-color: gray;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}
.App-right-side{
  background-color: red;
  width: 77%;
  height: auto;
  border-left: 1px solid #B5B5B5;
}
.App-left-side{
  background-color: green;
  width: 23%;
  max-width: 320px;
  min-width: 320px;
  height: auto;
}
