
$primariGray: hsl(240, 6%, 97%);
$colorWhite: hsl(0, 0%, 100%);
$colorBorder: hsl(0, 0%, 71%);
$colorBorderForte: hsl(0, 0%, 55%);
$colorBorderBlue: hsl(212, 73%, 59%);

$colorGray: hsl(210, 3%, 24%);
$colorGraySemi: $colorBorder;
$colorGrayLight: hsl(180, 5%, 96%);
$colorLight: hsl(207, 48%, 95%);
$colorRed: hsl(12, 99%, 50%);
$colorBlue: hsl(193, 98%, 47%);
$colorBlueLight: hsl(198, 100%, 97%);

$paddingCustom: 20px;
$fonsizeLittle: 12px;
$fonsizeMiddle: 14px;
$fonsizeMax: 16px;
$fonsizeBig: 19px;

$border4: 4px;
$border1: 1px;
$minWidthList: 320px;

$bodyBackground: $colorGrayLight;
$backgroundLight: $colorBlueLight;
$borderTags: hsl(0, 0%, 89%);
$customHover: hsl(0, 0%, 98%);

